








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>活動資料新增 - addAct.html</title>

<head th:insert="~{/admin/act/included-fragment}"></head>
<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
    
    form {
      margin-top: 0px; /* 避開 fixed nav 的高度 */
      padding: 20px;
    }
    
    
    
/*      nav { */
/*       background-color: green; */
/*       height: 120px; */
/*       color: white; */
/*       padding: 10px; */
/*       font-size: 20px; */
/*       position: fixed; */
/*       top: 0; */
/*       left: 0; */
/*       width: 100%; */
/*     } */
    
    .error-block {
    margin-left: 220px; /* 或你表單欄位對齊的寬度 */
    width: 200px;       /* 設一個最大寬度防止太長換行 */
    color: red;
    white-space: normal; /* 允許自動換行 */
    }
    
    
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>活動資料新增 - addAct.html</h2>
<!-- 		 <h3><a class="navbar-brand" th:href="@{/act/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div> -->
</nav>

	
		
		
		<div align="center">     <!--  model.addAttribute("actVO", new ActVO()) AddUpdateController 有建立通道 -->  
		<form th:action="@{/act/insert}" method="post" th:object="${actVO}" enctype="multipart/form-data">
			<div><h3><b>所有欄位皆為必填欄位</b></h3>  </div>     
			
			
			<label>選擇活動類型</label> 
				<select name="actId" required>
					<option value="0">---選擇活動---</option>
					<option th:each="entry : ${actCateMap}" 
					    th:value="${entry.key}"
						th:text="'活動類型:' + ${entry.key} + ' - ' + ${entry.value}">
					</option>
				</select>
			
		   
			
			<div>
			<label>活動名稱:</label>
			<input type="text" th:field="*{actName}" onchange="hideContent('actName.errors');" placeholder="麵食推廣"/><br/>
			<div class="error-block">
			<span  th:if="${#fields.hasErrors('actName')}" th:errors="*{actName}" class="error" id="actName.errors"></span>
			</div>
			</div>
			

			
			<div>
			<label>活動內容:</label>
			<input type="text" th:field="*{actContent}" onchange="hideContent('actContent.errors');" placeholder="麵食折5%"/><br/>
			<div class="error-block">
			<span  th:if="${#fields.hasErrors('actContent')}" th:errors="*{actContent}" class="error" id="actContent.errors" ></span>
			</div>
			</div>
			
			
			<div>
	   		 <label>折扣類型:</label> <!--  key =  0 或 1  value =百分比 / 金額  -->
	    		<select th:field="*{actDiscount}">
	        		<option th:each="discountEntry : ${actDiscount}"
	                		th:value="${discountEntry.key}"   
	                		th:text="${discountEntry.value}">
	        		</option>
	    		</select>
	    		<div class="error-block">
			    <span th:if="${#fields.hasErrors('actDiscount')}" 
			          th:errors="*{actDiscount}" 
			          class="error" 
			          id="actDiscount.errors"></span>
			     </div>
			</div>
			
			<div>
			<label>折扣值:</label>
			<input type="text" th:field="*{actDiscValue}" onchange="hideContent('actDiscValue.errors');" placeholder="固定金額折扣: 5 ,百分比折扣: 0.5"/><br/>
			<div class="error-block">
			<span  th:if="${#fields.hasErrors('actDiscValue')}" th:errors="*{actDiscValue}" class="error" id="actDiscValue.errors"></span>
			</div>
			</div>
			
			
			<div>                <!-- id="upFiles" 是 JavaScript getElementById("upFiles") 要抓的元素 -->
			<label>活動圖片:</label><!-- name="upFiles" 是你後端 @RequestParam("upFiles") 要抓的名字 -->
			<input type="file" name="upFiles" id="upFiles"   onchange="previewImage() ; hideContent('upFiles.errors');" />
			<div class="error-block">
			<span class="error" th:utext="${errorMessage}" id="upFiles.errors"></span> <!-- 錯誤信息errorMessage來自AddUpdateController. -->
			<div id="blob_holder"></div><!-- 預覽圖片 -->
			</div>
			</div>
			
			<!-- 顯示暫存圖片（新增失敗後也能看到） -->
				<div th:if="${base64Image != null}">
    				<img th:src="'data:image/jpeg;base64,' + ${base64Image}" width="150" />
				</div>
				
			
			<div>
			<label>活動開始時間:</label>
			<input type="datetime-local" th:field="*{actStartTime}" onchange="hideContent('actStartTime.errors');" /><br/>
			<div class="error-block">
			<span  th:if="${#fields.hasErrors('actStartTime')}" th:errors="*{actStartTime}" class="error" id="actStartTime.errors"></span>
			</div>
			</div>
			
			<div>
			<label>活動結束時間:</label>
			<input type="datetime-local" th:field="*{actEndTime}" onchange="hideContent('actEndTime.errors');" /><br/>
			<div class="error-block">
			<span  th:if="${#fields.hasErrors('actEndTime')}" th:errors="*{actEndTime}" class="error" id="actEndTime.errors"></span>
			</div>
			</div>
			
			<div style="display: none;">
<!-- 			<label>最後更新時間:</label> -->
			<input type="hidden" th:field="*{actLastUpdate}" onchange="hideContent('actLastUpdate.errors');" /><br/>
			<div class="error-block">
			<span type="hidden" th:if="${#fields.hasErrors('actLastUpdate')}" th:errors="*{actLastUpdate}" class="error" id="actLastUpdate.errors"></span>
			</div>
			</div>

			
			
			<div>
	   		 <label>活動狀態:</label> <!--  key =  1 或 0  value = 上架/下架-->
	    		<select th:field="*{actStatus}">
	        		<option th:each="statusEntry : ${actStatus}"
	                		th:value="${statusEntry.key}"   
	                		th:text="${statusEntry.value}">
	        		</option>
	    		</select>
	    		<div class="error-block">
			    <span th:if="${#fields.hasErrors('actStatus')}" 
			          th:errors="*{actStatus}" 
			          class="error" 
			          id="actStatus.errors"></span>
			     </div>
			</div>

<!-- 			<div> -->
<!-- 			<label>店家類別:</label> -->
<!-- 			<select name="storeCateId"> -->
<!-- 				<option th:each="entry : ${storeCateMap}" -->
<!-- 						th:value="${entry.key}" -->
<!-- 						th:text="${entry.value}"> -->
<!-- 				</option> -->
<!-- 			</select> -->
<!-- 			</div> -->
			
				
			<div>
	   		 <label>適用店家:</label> <!--  key =  1 或 0  value = 部分店家/全店家-->
	    		<select th:field="*{isGlobal}">
	        		<option th:each="statusEntry : ${isGlobal}"
	                		th:value="${statusEntry.key}"   
	                		th:text="${statusEntry.value}">
	        		</option>
	    		</select>
	    		<div class="error-block">
			    <span th:if="${#fields.hasErrors('isGlobal')}" 
			          th:errors="*{isGlobal}" 
			          class="error" 
			          id="isGlobal.errors"></span>
			     </div>
			</div>
			
	<p th:text="${#dates.format(actVO.actLastUpdate, 'yyyy-MM-dd HH:mm:ss')}">最後更新時間</p>
			
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出新增 </button></div>
				<div></div>
			</div>		
		</form>
		
	</div>


<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

//照片上傳-預覽用
var filereader_support = typeof FileReader !== 'undefined';
if (!filereader_support) {
    alert("No FileReader support");
}

// 可接受的圖片類型
var acceptedTypes = {
    'image/png': true,
    'image/jpeg': true,
    'image/gif': true
};

// 圖片預覽主函式
function previewImage() {
    var holder = document.getElementById("blob_holder");
    holder.innerHTML = ""; // 每次點選清空預覽區

    var upfile1 = document.getElementById("upFiles");
    var files = upfile1.files;

    for (var i = 0; i < files.length; i++) {
        previewfile(files[i]);
    }
}
function previewfile(file) {
	if (filereader_support === true && acceptedTypes[file.type] === true) {
		var reader = new FileReader();
		reader.onload = function(event) {
			var image = new Image();
			image.src = event.target.result;
			image.width = 100;
			image.height = 75;
			image.border = 2;
			if (blob_holder.hasChildNodes()) {
				blob_holder.removeChild(blob_holder.childNodes[0]);
			}
			blob_holder.appendChild(image);
		};
		reader.readAsDataURL(file);
		document.getElementById('submit').disabled = false;
	} else {
		blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
				+ "<br>" + "● ContentTyp: " + file.type
				+ "<br>" + "● size: " + file.size + "bytes"
				+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
		document.getElementById('submit').disabled = true;
	}
}
</script>

</body>
</html>