








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>活動資料 - listOneAct.html</title>

<head th:insert="~{/admin/act/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 200px;
		text-align: left;
		font-weight: bold;
	}
	
	body { /*讓nav不要蓋住內容*/
		  margin: 120px auto 2rem auto;
		  padding: 1rem;
		  max-width: 100%;
		  overflow-x: hidden;
		}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>單一活動資料 - listOneAct.html</h2>
		     	     
<!-- 			 <sapn><a class="navbar-brand" th:href="@{/act/select_page}">回查詢頁</a></span> -->
         	 <sapn><a class="navbar-brand" th:href="@{/act/listAllAct}">回活動列表</a><sapn><label th:text="${success}"></label>
			
		 </div>

</nav>

	<div align="center" th:fragment="listOneAct-div"> <!-- 此div被select_page.html第158行insert用 -->
		<h3><span>查詢結果 :</span></h3>

		<span>活動編號:</span><span th:text="${actVO.actId}"></span><br/>
		<span>活動類型:</span><span th:text="${actVO.actCate}"></span><br/>
		<span>活動名稱:</span><span th:text="${actVO.actName}"></span><br/>
		<span>活動內容:</span><span th:text="${actVO.actContent}"></span><br/>
		<span>折扣類型:</span><span th:text="${actVO.actDiscount == 0 ? '百分比' : '固定金額'}"></span><br/>
		<span>折扣值:</span><span th:text="${actVO.actDiscValue}"></span><br/>
		<span>活動開始時間:</span><span th:text="${#dates.format(actVO.actStartTime,'yyyy-MM-dd HH:mm:ss')}"></span><br/>
		<span>活動結束時間:</span><span th:text="${#dates.format(actVO.actEndTime,'yyyy-MM-dd HH:mm:ss')}"></span><br/>
		<span>活動狀態:</span><span th:text="${actVO.actStatus == 0 ? '下架' : '上架'}"></span><br/>
		<span>活動圖片:</span><span><img th:src="@{/act/DBGifReader} + '?actId=' + ${actVO.actId}" width="100px"></span><br/>
		<span>適用店家:</span><span th:text="${actVO.isGlobal == 0 ? '部分店家適用' : '全店適用'}"></span><br/>
		<span>最後更新時間:</span><span th:text="${#dates.format(actVO.actLastUpdate,'yyyy-MM-dd HH:mm:ss')}"></span><br/>
		
		
		
	</div>


</body>
</html>