<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>編輯店家資訊 - FoodieTime 食刻</title>
<meta name="description" content="FoodieTime 食刻美食地圖平台 - 編輯店家資訊">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
<link rel="stylesheet" th:href="@{/css/front/store/store_edit2.css}">
<meta name="theme-color" content="#FF5722">


</head>
<body>
<!-- <div th:fragment="storeEdit2Fragment"> -->
	<main>
	
		
		<!-- 歡迎光臨區塊 -->
		
			<div class="welcome">
				
<!-- 				店家圖片 -->
<!-- 				<div id="storeimg"> -->
<!-- 					<img th:src="'data:image/jpeg;base64,' + ${base64Image}" alt="商家圖片"> -->
<!-- 				</div> -->
				<h2	th:utext="'<span style=\'color:green;\'>歡迎  ' + ${storeVO.storName} + '</span>'">預設名稱</h2>
				<h1 class="section-title">編輯店家資訊</h1><span class="section-subtitle">更新您的店家資訊，讓更多顧客找到您</span>
			</div>
				
	




<!-- form 開始:  action 目前執行更新商品功能 -->
						<form th:object="${storeVO}" th:action="@{/store/updateAll}"
							method="post" enctype="multipart/form-data" class="storeForm">
							<br>
							<!-- 顯示錯誤驗證訊息 -->
							<div th:if="${#fields.hasErrors()}">
								<ul style="color: red;">
									<li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
								</ul>
							</div>

							<!-- 店家id -->
							<input type="hidden" th:field="*{storId}" />


							<!-- 店家類別 -->
							<div class="form-group">
								<label class="form-label">店家類別<span class="required">*</span></label>
								<select class="form-input" id="store-category"
									th:field="*{storeCate.storCateId}" required>
									<option value="">請選擇店家類別</option>
									<!-- controller storCatNameList -->
									<option th:each="cate : ${storCatNameList}"
										th:value="${cate.storCateId}" th:text="${cate.storCatName}">
									</option>
								</select>
							</div>
							<br>

							<!-- 店家名稱 -->
							<div class="form-group">
								<label class="form-label">店家名稱<span class="required">*</span></label>
								<input type="text" class="form-input" th:field="*{storName}">
							</div>
							<br>

							<!-- 店家敘述 -->
							<div class="form-group">
								<label class="form-label">店家敘述<span class="required">*</span></label>
								<textarea class="form-input" th:field="*{storDesc}" required></textarea>
							</div>
							<br>

							<!-- 店家地址 -->
							<div class="form-group">
								<label class="form-label">店家地址<span class="required">*</span></label>
								<input type="text" class="form-input" th:field="*{storAddr}"
									id="address-input" onblur="getCoordinates()" required>
							</div>
							<br>
							
							<!-- 只能看不能送出的經緯度 -->
						<div class="latlng-row" >						
							<input class="form-input" type="text" id="lat" name="latitude" th:value="${storeVO.storLon}" placeholder="緯度 Latitude" readonly>
							<input class="form-input" type="text" id="lng" name="longitude" th:value="${storeVO.storLat}" placeholder="經度 Longitude" readonly>
							<br>
						</div>
						
						<!-- 實際送出經緯度 -->
							<input type="hidden" th:field="*{storLon}" />
							<input type="hidden" th:field="*{storLat}" />
						
							<!-- 店家電話 -->
							<div class="form-group">
								<label class="form-label">電話<span class="required">*</span></label>
								<input type="text" class="form-input" th:field="*{storPhone}"
									required>
							</div>
							<br>

							<!-- 訂位網址 -->
							<div class="form-group">
								<label class="form-label">訂位網址</label> <input type="url"
									class="form-input" th:field="*{storWeb}"
									placeholder="https://example.com">
							</div>
							<br>

							<!-- 營業時間區塊 -->
							<label class="form-label"> <strong>營業時間</strong> <span
								class="required">*</span>
							</label>
							<div class="business-hours">
								<!-- 開店時間 -->
								<input type="time" class="form-input" th:field="*{storOnTime}"
									style="width: 200px" required>
								<!-- 中間波浪符號 -->
								<span class="time-separator">~</span>
								<!-- 關店時間 -->
								<input type="time" class="form-input" th:field="*{storOffTime}"
									style="width: 200px" required>
							</div>
							<br>
							<!-- 公休日 -->
							<!--只要欄位名稱對應 @RequestParam("storWeeklyOffDay")，不需加 th:field-->
							<div class="form-group">
								<label class="form-label">公休日</label> <select class="form-input"
									name="storWeeklyOffDay" id="storWeeklyOffDay" multiple size="7">
									<option value="0"
										th:selected="${#strings.contains(storeVO.storOffDay, '0')}">星期日</option>
									<option value="1"
										th:selected="${#strings.contains(storeVO.storOffDay, '1')}">星期一</option>
									<option value="2"
										th:selected="${#strings.contains(storeVO.storOffDay, '2')}">星期二</option>
									<option value="3"
										th:selected="${#strings.contains(storeVO.storOffDay, '3')}">星期三</option>
									<option value="4"
										th:selected="${#strings.contains(storeVO.storOffDay, '4')}">星期四</option>
									<option value="5"
										th:selected="${#strings.contains(storeVO.storOffDay, '5')}">星期五</option>
									<option value="6"
										th:selected="${#strings.contains(storeVO.storOffDay, '6')}">星期六</option>
								</select>
							</div>
							<br>

							<!-- 提供外送 -->
							<div class="form-group">
								<label class="form-label">外送<span class="required">*</span></label>
								<select class="form-input" th:field="*{storDeliver}">
									<option value="1">提供</option>
									<option value="0">不提供</option>
								</select>
							</div>
							<br>
							<!-- 營業狀態 -->
							<div class="form-group">
								<label class="form-label">營業狀態</label> <select
									class="form-input" th:field="*{storOpen}">
									<option value="1">營業</option>
									<option value="0">未營業</option>
								</select>
							</div>
							<br>
							<!-- 上架狀態 -->
							<div class="form-group">
								<label class="form-label">上架狀態</label> <select
									class="form-input" th:field="*{storStatus}">
									<option value="1">上架</option>
									<option value="2">未上架</option>
								</select>
							</div>
							<br>
							
							<!-- 店家信箱（不可編輯） -->
							<div class="form-group">
								<label class="form-label">Email</label> 
								<input type="email" class="form-input" th:field="*{storEmail}" readonly>
							</div>
							
							<br>
							<!-- 店家照片上傳含預覽功能 ，頁面載入時可見-綁定th:src -->
							<div class="form-group">
								<label class="form-label">店家照片</label> <input type="file"
									class="form-input" name="upFiles" id="store-image"
									accept="image/*" onchange="previewImage(event)">
								<!-- 頁面載入時顯示「資料庫裡的原始圖片」 -->
<!-- 								<img id="imagePreview" -->
<!-- 									th:src="'data:image/jpeg;base64,' + ${base64Image}" alt="預覽圖片" -->
<!-- 									style="max-width: 200px; margin-top: 10px; border-radius: 16px" /> -->
                                 <img id="imagePreview"
     									 th:src="@{'/store/photo/' + ${storeVO.storId}}"
									     alt="預覽圖片"
									     loading="lazy"
									     style="max-width: 200px; margin-top: 10px; border-radius: 16px" />
							</div>
							
							<div style="text-align: right;">
							<input type="hidden" th:field="*{storReportCount}"></span>
							<!-- 顯示文字 -->
							<div style="text-align: right;">
							  <span th:text="'評價星數：' + ${storeVO.starNum}"></span>
							  <span th:text="' 評價人數：' + ${storeVO.reviews}"></span>
							</div>
							
							<!-- 實際送出的資料（readonly） -->
							<input type="hidden" th:field="*{starNum}" />
							<input type="hidden" th:field="*{reviews}" />
							</div>
							

							<!-- 送出按鈕 -->
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">儲存變更</button>
							</div>
						</form>
				
	</main>

	

	<footer th:replace="~{front/common/footer :: main-footer}"></footer>
	

	<script>

/*店家照片預覽*/
  function previewImage(event) {
    const reader = new FileReader();
    reader.onload = function () {
      const output = document.getElementById('imagePreview');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }

/*經緯度*/
 // 進入頁面就自動抓 GPS 定位
            window.addEventListener('DOMContentLoaded', function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                function (position) {
                    document.getElementById("lat").value = position.coords.latitude;
                    document.getElementById("lng").value = position.coords.longitude;
                },
                function (error) {
                    alert("無法取得位置資訊：" + error.message);
                    document.getElementById("lat").disabled = true;
                    document.getElementById("lng").disabled = true;
                },
                {
                    enableHighAccuracy: true,
                    timeout: 10000,
                    maximumAge: 0
                }
                );
            } else {
                alert("此瀏覽器不支援地理定位功能");
                document.getElementById("lat").disabled = true;
                document.getElementById("lng").disabled = true;
            }
            });


	
</script>
</body>
</html>